button {
    display: block;
    background-color: #594c66;
    color: rgb(240, 240, 240);
    cursor: pointer;
    border: none;
    padding: 5px;
}

button:hover {
    background-color: #453b50;
}

.main-container .btns {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.main-container .new-time {
    margin-bottom: 5px;
    border: 2px solid #594c66;
    display: none;
}

.main-container .new-time .options {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

.main-container .new-time .timer-form {
    display: none;
}

.main-container .new-time .timer-form .inputs {
    display: flex;
    justify-content: space-evenly;
}

.main-container .new-time .timer-form .inputs div input {
    width: 5rem;
    border: 1px solid #594c66;
    padding: 2px;
    background-color: rgb(240, 240, 240);
    outline: none;
    transition: 0.3s;
}

.main-container .new-time .timer-form .inputs div input:focus {
    box-shadow: inset 0 0 4px 0 #594c66;
}

.main-container .new-time .timer-form button {
    margin: 5px auto;
    width: 80px;
}
