@media (max-width: 991px) {
    .timer-container {
        padding: 40px;
        font-size: 80px;
    }
    @keyframes slide-down-old {
        from {
            top: 0;
        }
        to {
            top: 153px;
        }
    }
    @keyframes slide-down-new {
        from {
            top: -132px;
        }
        to {
            top: 0;
        }
    }
    .timer-container .days {
        width: 134px;
    }
    .timer-container .hours,
    .timer-container .mins,
    .timer-container .secs {
        width: 98px;
    }
}

@media (max-width: 767px) {
    .timer-container {
        padding: 30px;
        font-size: 60px;
    }
    @keyframes slide-down-old {
        from {
            top: 0;
        }
        to {
            top: 121px;
        }
    }
    @keyframes slide-down-new {
        from {
            top: -99px;
        }
        to {
            top: 0;
        }
    }
    .timer-container .days {
        width: 101px;
    }
    .timer-container .hours,
    .timer-container .mins,
    .timer-container .secs {
        width: 67px;
    }
}

@media (max-width: 576px) {
    .timer-container {
        padding: 15px;
        font-size: 50px;
    }
    @keyframes slide-down-old {
        from {
            top: 0;
        }
        to {
            top: 98px;
        }
    }
    @keyframes slide-down-new {
        from {
            top: -73px;
        }
        to {
            top: 0;
        }
    }
    .timer-container::after {
        box-shadow: inset 0 0 10px 18px rgba(89, 76, 102, 1);
    }
    .timer-container .days {
        width: 84px;
    }
    .timer-container .hours,
    .timer-container .mins,
    .timer-container .secs {
        width: 56px;
    }
}
